.about {
  padding: 2rem;
  padding-top: 6rem;
  color: #fff;
  min-height: 100vh;
  background-image: url("../../public/images/background2.png");
}

.about__video {
  padding: 2rem;
  min-width: 50%;
}

.about__iframe {
  width: 100%;
  min-height: 15rem;
}

.about h1 {
  letter-spacing: 0.05rem;
}

.about__text {
  min-width: 50%;
  padding: 2rem;
}

.about__text p {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}