.dream {
  padding: 2rem;
  padding-top: 6rem;
  color: #fff;
  background-image: url("../../public/images/charcoal.jpg");
}

.dream__img-wrap {
  min-width: 50%;
}

.dream__img {
  position: relative;
  width: 100%;
  transform: scale(1.5);
}

.dream__text {
  min-width: 50%;
  padding: 2rem;
}

.dream__text p {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}