.dream {
  padding-inline: 4rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
  color: #fff;
  background-image: url("../../public/images/redgloss.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit:cover;
}