.explanation {
  margin-block: 8rem;
  padding: 2rem;
  padding-top: 6rem;
  color: #fff;
  min-height: 100vh;
  background-image: url("../../public/images/background2.png");
} 

.explanation__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.explanation__wrapper {
  position: relative;
  margin: 50px 0 45px;
  height: 100%;
}

.explanation__items {
  margin-bottom: 24px;
  height: 100%;
}


.explanation__video {
  padding: 2rem;
  min-width: 50%;
}

.explanation__iframe {
  width: 100%;
  min-height: 15rem;
}

.explanation__text {
  min-width: 50%;
  padding: 2rem;
}

.explanation h1 {
  letter-spacing: 0.05rem;
}

.explanation__text p {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 1024px) {
  .explanation__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .explanation__item {
    margin-bottom: 2rem;
  }
}
