.quotes {
  padding: 2rem;
  padding-top: 6rem;
  color: #fff;
  background-image: url("../../public/images/ggb.jpg");
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
}