.acrobatics-video {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  position: relative;
  z-index: -1;
}

.acrobatics-container {
  height: 100vh;
  max-height: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.acrobatics-container > h1 {
  color: #fff;
  font-size: 100px;
  /* margin-top: -100px; */
  position: absolute;
}

.acrobatics-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-family: 'Libel', 'sans-serif';
  position: absolute;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .acrobatics-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }

  .acrobatics-video {
    object-fit: contain;
  }

  .acrobatics-container {
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .acrobatics-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .acrobatics-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
  
  .acrobatics-video {
    object-fit: contain;
  }

  .acrobatics-container {
    height: fit-content;
  }
}
