.dream {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 10rem;
  color: #fff;
  min-height: 100vh;
  background-image: url("../../public/images/charcoal.jpg");
}

.dream__img-wrap {
  min-width: 50%;
}

.dream__img {
  position: relative;
  width: 100%;
  transform: scale(1.5);
}

.dream h1 {
  letter-spacing: 0.05rem;
}

.dream__text {
  min-width: 50%;
  padding: 2rem;
}

.dream__text p {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}