.statement {
  padding: 1rem;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  background-image: url("../images/fog2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.statement h1 {
  font-size: 3rem;
  letter-spacing: 0.05rem;  
}

.statement h1 span {
  font-size: 3.2rem;
}