.technical {
  padding: 2rem;
  padding-top: 6rem;
  color: #fff;
  min-height: 100vh;
  background-image: url("../images/ledback3.png");
  background-size:cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.technical__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.technical__wrapper {
  position: relative;
  margin: 50px 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technical__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  width: 20rem;
  min-width: 15rem;
}

.technical__text {
  min-width: 50%;
  padding: 2rem;
}

.technical__title {
  min-width: 50%;
  margin: 0;
  padding: 2rem;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.technical__text p {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

@media only screen and (min-width: 1024px) {
  .technical__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .technical__item {
    margin-bottom: 2rem;
  }
}