.VR {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 6rem;
  color: #fff;
  min-height: 100vh;
  background-image: url("../images/background2.png");
}

.VR__video {
  padding: 2rem;
  min-width: 50%;
}

.VR__iframe {
  width: 100%;
  min-height: 15rem;
  height: 100%;
}

.VR h1 {
  letter-spacing: 0.05rem;
}

.VR__text {
  min-width: 50%;
  padding: 2rem;
}

.VR__text p {
  font-size: 1.2rem;
  font-family: 'Helvetica', sans-serif;
}